body
{
	height:100%;
    position: relative;
}
.gallary
{
    text-align: center; 
}
.slideshowgallary
    {
        margin-top: 100px;
        margin-left: 25%;
        margin-right: 10%;
    }
    .photos
    {
        min-width: 200px;
        max-width: 220px;
        height: auto;
        display: none;
    }
.buttons
{
    padding-top:2%;
    text-align: center;
    height: 50px;
}
@media screen and (max-width: 460px)
{
    
    .slideshowgallary
    {
        margin-left: 25%;
        margin-right: 10%;
    }
    .photos
    {
        min-width: 160px;
        max-width: 190px;
        height: auto;
        display: none;
    }
    .buttons
    {
        padding-top:1%;
        height: 20px;
    }
     footer
    {
        font-size: 11px;
        width: 100%;
        position:absolute;
        bottom:0;
        left:0;
    }
}